/* 
    IBM In-house {Web Coder} course Assignment Snippet.
    CSS styling slave file.
    For internal IBM learning usage.
*/

/*  ----- HTML Body Styles -----  */
body {
  /* Position: relative; */
  margin: 5;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  
  /* Padding for top navbar fixed  */
  padding-top: 75px; 
  margin: auto;
}
html {
  font-size: 14px;
  height: 100%;
  box-sizing: border-box;
}
.pad-top {
  padding-top: 5rem; 
}

  nav > a > img {
    height: 30px;
  }
  
  /* Jumbotron */
  .jumbotron{
    background-image: url("../image/main_picture.jpg");
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color:yellow;
    min-height: 45rem;
  }

  /* Box-sizing */
  .selector-for-some-widget {
      box-sizing: content-box;
  }

  /* LAYOUT - Responsive breakpoints */
  /* // Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) {  

  }

  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767px) {  

  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991px) {  

  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199px) {  
      
  }

  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  

  }


